@import-normalize;
@import './helpers/convertToRem';

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: rem(120px);
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
}