@import-normalize; /* bring in normalize.css styles */
@import './design-tokens/colors.scss'; /* bring in SASS vars */
@import './styles/nav.scss';

.App {
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}