@import './variables/colors';
@import './styles/button.scss';

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 120px;
  overflow: hidden;
  background-color: $color-cloud;

  .main {
    width: 100%;
    height: 100%;

    section {
      padding: 40px 0;

      &.head {
        padding: 0;
      }
    }
  }

  .head p,
  h1, h2, h3, h4 {
    color: $color-purple;
  }
  p {
    color: $color-purple_grey;
  }
  
}

ul {
  list-style: none;
}
.nav-link {
  position: relative;
  color: #000;
  font-weight: bold;
  list-style: none;
  transition: all 0.3s ease;
  
  &.active, &:hover {
    color: $color-red_deep;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}