/* General Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: #091525;
}

a:hover {
	color: #90a3be;
}

a.btn {
	background-color: blue;
	padding: 10px 18px;
	border-radius: 4px;
	color: #fff;
	margin-top: 20px;
}

a.btn:hover {
	background-color: #90a3be;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: uppercase;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

.description h3 {
	padding-bottom: 10px;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/* Nav Styles */

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 100px;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

@keyframes fadein {
	100%{
		opacity: 1;
	}
}

.nav h2 {
	font-family: "Quicksand", sans-serif;
}

.nav {
	display: flex;
	margin-right: -15px
}

.nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	.nav {
		padding: 20px 50px;
		flex-direction: column;
	}

	.nav h2 {
		margin-bottom: 15px;
	}
}

/* Hero Styles */
.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;	
}

.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: bold 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

.hero-content-area li {
	display: inline-block;
	padding: 10px;
}

.hero .hero-content-area .social li a:hover {
	color: #fff;
}

.hero .scroll {
	margin-top: 850px;
	position: absolute;
  	top: 0;
  	left: 50%;
  	width: 30px;
  	height: 50px;
  	margin-left: -15px;
  	border: 2px solid #fff;
  	border-radius: 50px;
  	box-sizing: border-box;
}

.hero .scroll::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidefade {
	100%{
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}

	.hero .scroll {
		margin-top: 500px;
	}
}

/* Portfoilio Section */ 

.portfolio .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.portfolio .grid li.small {
	flex-basis: 40%;
}

.portfolio .grid li.large {
	flex-basis: 40%;
}

.grid .btn {
	background: #091525;
	padding: 15px 15px;
}

.grid .btn:hover {
	background: #90a3be;
}

@media (max-width: 1100px) {
	.portfolio .grid li.small,
	.portfolio .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.portfolio .grid li.small,
	.portfolio .grid li.large {
		flex-basis: 100%;
	}
}

/* Skills Section */

.skills .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.skills .grid li i {
	color: #8c9eff;
}

.skills .grid li a {
	color: #091525;
}

.skills .grid li a:hover {
	color: #90a3be;
}

.skills .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.skills .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/* Footer Styles*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #607d8b;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}

/* Sweets Page*/

.ebook .project {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ebook .project img {
	height: 550px;
	padding: 10px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.ebook .project img.large {
	flex-basis: 15%;
}

.ebook .description {
	display: flex;

}

@media (max-width: 1100px) {
	.ebook .project img.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.ebook .project img.large {
		flex-basis: 100%;
	}
}

/* Muster Page*/

.flyer .project {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flyer .project img {
	height: 550px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.flyer .project-muster img.large {
	flex-basis: 100%;
}

@media (max-width: 1100px) {
	.flyer .project img.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.flyer .project img.large {
		flex-basis: 100%;
	}
}

/* Layout Page*/

.layout .project {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.layout .project img {
	height: 350px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.layout .project img.large {
	flex-basis: 40%;
}

@media (max-width: 1100px) {
	.layout .project img.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.layout .project img.large {
		flex-basis: 100%;
	}
}

/* Betchel Page*/

.betchel .project {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.betchel .project img {
	height: 300px;
	padding: 10px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.betchel .project img.large {
	flex-basis: 20%;
}

@media (max-width: 1100px) {
	.betchel .project img.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.betchel .project img.large {
		flex-basis: 100%;
	}
}

