@import '../helpers/convertToRem';

@mixin spacingSectionBottom {
    margin: 0 0 rem(60px) 0;

    @media only screen and (max-width: rem(568px)) {
        margin: 0 0 rem(30px) 0;
    }
}
@mixin paddingSection($vert, $hori) {
    padding: rem($vert) rem($hori);
}
@mixin marginText {
    margin-bottom: 1.5rem;
}