@import '../variables/colors';

#about {
    display: flex;

    li,
    p {
        font-size: 18px;
    }

    section {
        padding: 0;
    }

    .about-section-left {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 60px;

        .about-text-left {
            max-width: 990px;

            .about-section {
                margin-bottom: 60px;

                .company-logos {
                    display: flex;

                    .logo {
                        margin-left: -10px;
                        padding: 0 10px;
                        width: 125px;

                        &:hover {
                            cursor: pointer;
                        }

                        img {
                            width: 100%;
                            border-radius: 5%;
                            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .25));
                        }
                    }
                }

                h4 {
                    font-size: 36px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }

                .list {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    ul {
                        padding-left: 0;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .about-section-right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 50%;
        height: 100%;
        right: 0;
        background-size: cover;
        background-position: center center;

        .overlay {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .about-text-right {
            padding: 0 125px;
            text-align: center;
            position: relative;

            h2 {
				font-size: 120px;
                line-height: 2;
                font-weight: bold;
                margin-top: -120px;
                color: $color-white;
			}
        }
    }
}

@media only screen and (max-width: 1130px) {
	#about {
       
        .about-section-right {

            .about-text-right {
                padding: 0 95px;
            }
        }
    }
}

@media only screen and (max-width: 986px) {
	#about {
        flex-direction: column;
        padding-bottom: 20px;
        max-width: 720px;
        margin: 0 auto;

        .about-section-left,
        .about-section-right {
            width: 100%;
        }
        .about-section-left {
            padding: 20px;

            .about-text-left {
            
                .about-section {
                    margin-bottom: 30px;

                    h4 {
                        margin-bottom: 10px;
                    }
                    .company-logos {
                        .logo {
                            width: 110px;
                        }
                    }
                }
            }
        }
        .about-section-right {
            position: relative;
            order: -1;
            background-image: none !important;

            .overlay {
                display: none;
            }

            .about-text-right {
                padding: 40px 20px 0;
                position: relative;

                h2 {
                    font-size: 60px;
                    color: $color-purple;
                    line-height: 1;
                    padding-bottom: 20px;
                    border-bottom: .5px solid $color-purple;
                    margin-top: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
	
}
@media only screen and (max-width: 767px) {
	#about {
        max-width: 540px;
    }
}