.ContactForm {
	width: 100%;
	
	form {
		width: 100%;
		margin: 0 auto;

		.row {
			margin-bottom: 20px;
		}

		@media only screen and (max-width: 767px) {
			input.name {
				margin-bottom: 20px;
			}
		}
	}
}