.ContactForm {
	width: 100%;
	
	form {
		width: 100%;
		margin: 0 auto;

		.row {
			margin-bottom: 20px;
		}

		.submit-btn-container {
			text-align: end;
		}

		@media only screen and (max-width: 767px) {
			input.name,
			input.phone {
				margin-bottom: 20px;
			}

			.submit-btn-container {
				text-align: end;
				
				button {
					width: 100%;
				}
			}
		}
	}
}