@import '../mixins/positioning';
@import '../variables/colors';

#home {
	section.head {
		padding: 0;
	}

	section.head {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		max-height: 700px;
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 15% 0;
		background-color: $color-black;

		.logo {
			width: 150px;
		}

		.head-text {
			position: relative;

			h1,
			h4 {
				color: $color-white;
			}

			h1 {
				font-size: 80px;
				font-weight: bold;
			}
			h4 {
				font-size: 30px;
				
			}
		}
	}
	.services-container {
		background-color: $color-red_deep;

		.services {
			display: flex;
			align-items: flex-start;
			padding: 20px 0;
		}
	}
	.contact {

		.image {
			width: 40%;
			margin-right: 40px;

			img {
				width: 100%;
				overflow: hidden;
			}
		}
	}

	@media only screen and (max-width: 968px) {
		.services {
			justify-content: center;
		}
	}
	@media only screen and (max-width: 768px) {
		.services {
			flex-direction: column;
		}
	}
}