@import '../design-tokens/colors.scss'; /* bring in SASS vars */

#home {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
	height: 300px;

  .head {
		text-align: center;

    h1 {
			color: $color-black;
			font-weight: bold;
    }
  }
}