@import '../mixins/spacing';
@import '../mixins/positioning';
@import '../design-tokens/colors';
@import '../helpers/convertToRem';

.content {
	@include spacingSectionBottom;
}

#home {
  width: 100%;

  .head {
		@include centerColumn;
		text-align: center;

    h1 {
			@include marginText;

			color: $color-black;
			font-weight: bold;
		}
		h4 {
			max-width: 60%;
			font-weight: 300;
		}
	}
	
	.about {
		@include centerColumn;
		@include paddingSection(40px, 0px);

		width: 100%;
		background-color: $color-blue;

		.about-text {
			display: block;
			width: 80%;
			text-align: center;

			p {
				color: $color-white;
				font-size: rem(24px);
				margin-bottom: rem(50px);
			}

			.btn-success {
				font-weight: bold;
				color: $color-blue;
				padding: rem(10px) rem(40px);
				background-color: $color-white;
				transition: all 0.3s ease;

				&:hover {
					color: $color-white;
					background-color: $color-blue;
					border: 1px solid $color-white;
					transition: all 0.3s ease;
				}
			}
		}
	}

	.services {
		@include spaceBetweenRow;
	}

	@media only screen and (max-width: rem(968px)) {
			.services {
				justify-content: center;
			}
		}
}