@import '../variables/colors';

.main-nav {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  background-color: #fff;

  .nav-inner {
    display: flex;
    justify-content: space-between;

    .mobile {
      display: none;
      width: 32px;
      height: 38px;
    }

    .logo {
      min-width: 60px;
    }

    ul.links {
      display: flex;
      list-style: none;
      margin: auto 0;
    }
  }

 
}

@media only screen and (max-width: 767px) {
  .main-nav {

    .nav-inner {
      .mobile {
        display: block;
        position: absolute;
        top: 16px;
        right: 30px;
        z-index: 1000;

        .hamburger-react {
          transform: none !important;
          width: 100% !important;

          div {
            right: 0px;
            left: auto !important;
          }
        }
      }

      ul.links {
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        top: 0;
        left: -1000px;
        width: 100%;
        height: 100vh;
        padding: 20px;
        opacity: 0;
        background-color: $color-white;
        // transform: translateX(-100px);
        transition: all 0.5s ease;
        z-index: -1;
        
      
        &.open {
          left: 0;
          opacity: 1;
          // transform: translateX(0px);
          transition: all 0.5s ease;
          z-index: 99;
        }
      }
    }

   
  }
}