@import '../variables/colors';
@import '../helpers/convertToRem';

.main-nav {
  display: flex;
  width: 100vw;
  height: rem(60px);
  padding: rem(20px) 0;
  margin-bottom: rem(60px);
  background-color: #fff;

  .mobile {
    display: none;
  }

  ul.links {
    display: flex;
    list-style: none;
  }

  .nav-link {
    position: relative;
    margin-right: rem(30px);
    color: #000;
    font-weight: bold;
    list-style: none;
    transition: all 0.3s ease;
    
    &.active, &:hover {
      color: $color-blue;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}

@media only screen and (max-width: rem(568px)) {
  .main-nav {
    .mobile {
      display: block;
    }

    ul.links {
      position: fixed;
      top: 0;
      left: -1000px;
      width: 80%;
      height: 100vh;
      padding: 20px;
      background-color: #fff;
      z-index: 99;
    }
  }
}