@import '../helpers/convertToRem';

#portfolio-detail {

    img {
        margin-bottom: rem(60px);
        width: 100%;
    }

    .detail {

        .technologies {
            padding: 0;
        }
    }
}