@import '../mixins/positioning';
@import '../variables/colors';

#portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;

	.portfolio-items {
		display: flex;
		list-style: none;
		z-index: 0;
		transition: all 0.3s ease;
		

		.portfolio-item {
			position: relative;
			margin-bottom: 40px;
			width: 95%;


			.highlight {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				padding: 0 10px;

				text-align: center;
				opacity: 0;
				background-color: rgba(60, 24, 116, .75);
				transition: all 0.5s ease;

				h2 {
					color: $color-white;
					margin: 10px 0;
					text-transform: uppercase;
					font-size: 60px;
					font-weight: bold;
					-webkit-text-stroke: .5px $color-red_bright;
					transform: translateY(100px);
					transition: all 0.5s ease;
				}
			}
			
			&:hover .highlight {
				opacity: 1;
				transition: all 0.5s ease;

				h2 {
					transform: translateY(0px);
					transition: all 0.5s ease;
				}
			}

			img {
				border-radius: 3px;
				width: 100%;
			}

			.description {
				color: $color-white;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.portfolio-items {
			flex-wrap: wrap;

			.portfolio-item {
				padding: 0;
				width: 100%;
			}
		}
		
	}
	@media only screen and (max-width: 568px) {
		.portfolio-item {
			width: 100%;
			margin-bottom: 30px;
		}
		.row {
			justify-content: center;
		}
	}
}

	