@import '../variables/colors';

#portfolio-detail {
	position: relative;
	padding: 20px 0 0;
	text-align: center;
	width: 100%;

	li {
		list-style: none;

		.back {
			position: absolute;
			top: 15px;
			left: 15px;
			padding: 0;
			font-size: 50px;

			&:hover {
				transform: translateX(-15px);
			}
		}
	}

	.port-title-container {
		margin-top: 30px;

		.nav-link {

			&.port-title {
				display: inline;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 40px;
			}
		}
	}
	
	

	.port-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 60px 0;

		h3 {
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
		}

		.ask,
		.tech {
			width: 50%;

			&.full-width {
				width: 100%;
			}
		}

		.desktop, 
		.mobile {
			display: flex;
			margin-bottom: 20px;

			.desktop-image,
			.mobile-image {
				width: 50%;

				&.design {
					width: 100%;
				}

				&.no-image {
					order: -1;
					width: 50%;
				}
			}

			&.align-left {
				width: 100%;
				align-self: flex-end;
			}
		}

		.ask {
			padding: 0 0 0 40px;
			text-align: left;
		}

		img {
			width: 100%;
		}

		.technologies {
			padding: 0;
			
			p,
			li {
				font-size: 30px;
				font-style: italic;
				font-weight: lighter;
				margin-bottom: 5px;
			}
		}
	}

	@media only screen and (max-width: 968px) {
		.port-info {
			margin: 30px 0 0;

			.ask,
			.tech {
				width: 100%;
			}

			.ask {
				padding: 0;
			}

			.desktop, 
			.mobile {
				flex-direction: column;

				.desktop-image,
				.mobile-image {
					width: 100%;
					margin-bottom: 20px;
				}

				.mobile-image {
					order: -1;
				}
			}
		}
	}
	@media only screen and (max-width: 568px) {
		.port-title-container {
			.nav-link {

				&.port-title {
					font-size: 35px;
				}
			}
		}
		li {

			.back {
				top: 0px;
				left: 18px;
				font-size: 40px;

				&:hover {
					transform: translateX(-5px);
				}
			}
		}
	}	
}