@import '../mixins/positioning';
@import '../variables/colors';

.service {
	width: 33.3%;
	position: relative;

	.service-head {

		.service-title {
			color: $color-purple;
		}

		.service-title {
			font-size: 32px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.service-body {
		font-size: 20px;
		line-height: 1.5;

		p {
			color: $color-black;
		}
	}

	.view-more {
		text-align: left;
	}

	@media only screen and (max-width: 568px) {
		.service-head {
			margin-right: 0px;
			width: 100%;
		}
		.service-body {
			width: 100%;
		}
		.view-more,
		.view-more button {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 767px) {
	.service {
		width: 100%;

		p.service-title {
			font-size: 26px !important;
			line-height: 20px;
		}
	}
	.service-body {
		width: 100%;
	}
}
@media only screen and (max-width: 568px) {
	.service {
		flex-direction: column;
	}
	.service-head {
		margin-right: 0px;
		width: 100%;
	}
}