@import '../mixins/positioning';
@import '../variables/colors';

.service {
	width: 33.3%;
	position: relative;
	
	p {
		color: $color-white;
	}

	.service-head {

		.service-title {
			font-size: 32px;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 32px;
		}

		svg {
			color: $color-red_deep;
		}
	}

	.service-body {
		font-size: 20px;
		line-height: 1.5;
	}

	.view-more {
		text-align: left;
	}

	@media only screen and (max-width: 568px) {
		.service-head {
			margin-right: 0px;
			width: 100%;
		}
		.service-body {
			width: 100%;
		}
		.view-more,
		.view-more button {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 767px) {
	.service {
		padding: 0 0 30px;
		width: 100%;
	}
	.service-body {
		width: 100%;
	}
}
@media only screen and (max-width: 568px) {
	.service {
		flex-direction: column;
	}
	.service-head {
		margin-right: 0px;
		width: 100%;
	}
}