@import '../variables/colors';

#testimonials {
    margin-bottom: 30px;
    
    .testimonial {
        padding: 20px 0;
        border-bottom: .25px solid $color-red_deep;

        .testimonial-inner {
            padding: 0 5px;

            .testimonial-name {
                padding-bottom: 10px;
                font-weight: bold;

                .position {
                    margin-bottom: 0;
                }
            }

            .testimonial-text {
                padding: 0 2%;
                font-style: italic;
            }
        }
       
    }
}